body{
	//background-color: #E4EDF7;
	background-image:url('Skyline.png');
	background-attachment: fixed;
	background-size: cover;
}
h1{
	color: #004D27;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	text-align: center;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}
h2{
	color: #004D27;
	//font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:justify;
	margin-left:50px;
	margin-right:50px;
	//text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}
h2:after{
	content:"";
	display: inline-block;
	width:100%
}
a{
	text-decoration: none;
	color:#004D27;
}
a:hover{
	color:purple;
}


